body  {
    background-color: #f7f7f7;
}

#simulation-card {
    margin: 12px;
}

#settings-card {
    margin: 12px;
}

/* responsive */
@media only screen and (min-width : 720px) {
    #settings-card {
        position: fixed;
        right: 12px;
        top: 12px;
        background: rgba(255,255,255,0.92);
        margin: 0;
    }
}

.simulation > .mdl-card .mdl-card__media {
    background-color: transparent;
}

#toggle-label {
    width: auto;
    margin-left: 12px;
}

.days {
    text-align: center;
}

.days .mdl-textfield {
    width: 100px;
}

.muted {
    color: #797979;
}

.mdl-card__media {
    text-align: center;
}

canvas {
    margin: 0 auto;
}