body  {
    background-color: #f7f7f7;
}

#simulation-card {
    margin: 12px;
}

#settings-card {
    margin: 12px;
}

/* responsive */
@media only screen and (min-width : 720px) {
    #settings-card {
        position: fixed;
        right: 12px;
        top: 12px;
        background: rgba(255,255,255,0.92);
        margin: 0;
    }
}

.simulation > .mdl-card .mdl-card__media {
    background-color: transparent;
}

#toggle-label {
    width: auto;
    margin-left: 12px;
}

.days {
    text-align: center;
}

.days .mdl-textfield {
    width: 100px;
}

.muted {
    color: #797979;
}

.mdl-card__media {
    text-align: center;
}

.mdl-card__actions.hover:hover {
    background: #fafafa;
}

canvas {
    margin: 0 auto;
}

.infected {
    color: white;
    background: #AA3939;
}

.dead {
    color: white;
    background: #333333;
}

.immune {
    color: white;
    background: #969320;
}

.legend {
    border-top: 1px solid rgba(0,0,0,.1);
}

.mdl-chip {
    height: 20px;
    line-height: 22px;
}

.mdl-chip .mdl-chip__text {
    font-size: 11px;
}